.postList {
    list-style-type: none; 
    

    & > li {
        line-height: 2rem;
        margin-bottom: 50px;
   

        & a {
            text-decoration: none;
            color: black;

            &:hover {
                color: rgb(67, 67, 255);
            }
        }

        & div {
            color: rgb(129, 36, 36);
        }

        .postHeadHeader {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }

        span {
            cursor: pointer;
            border: none;
            background: none;
        }
    }
}

.diaryPost {
    & > h2, div, p {
        line-height: 2rem;
        width: 90vw;
    }

    div {
        color: rgb(129, 36, 36);
    }
}

.postForm {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;

    & > div {
        margin: 0 auto 10px auto;
        color: rgb(250, 0, 255);
    }

    & > input {
        margin-bottom: 10px;
        height: 32px;
        padding: 8px;
        font-size: 14pt;
    }

    & > p {
        color: red;
    }

    & > textarea {
        padding: 8px;
        margin-bottom: 10px;
        font-size: 14pt;
        height: 60vh;
        font-family: Arial, Helvetica, sans-serif;
        resize: none;
    }

    & > button {
        background-color: #4e6ea2;
        height: 30px;
        color: white;
        border-radius: 24px;
        font-size: 16pt;
        font-weight: bold;
        cursor: pointer;
        border: none;
    }
}


.loginForm {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    & > input {
        margin-bottom: 10px;
        height: 32px;
        padding: 8px;
        font-size: 14pt;
    }

    .loginSignUpToggle {
        height: 32px;
        background-color: orange;
        margin-bottom: 10px;
        border: none;
        outline: none;
        font-size: 14pt;
        cursor: pointer;
    }

    h3 {
        margin: 0 auto 25px auto;
    }

    .submit {
        height: 32px;
        background-color: #4b6a9c;
        color: white;
        font-size: 14pt;
        border: none;
        outline: none;
        cursor: pointer;
    }
}


.maincontent {
    margin: 0 ;
}


@media (max-width: 768px) {
  .loginForm {
    width: 90%;
  }

  .loginForm h3 {
    text-align: center;
  }

  .loginForm input {
    width: 100%;
  }

  .loginForm button {
    width: 100%;
    margin-top: 10px;
   
  }

 .postForm textarea {
        padding: 6px;
        margin-bottom: 8px;
        font-size: 10pt;
        height: 40vh;
        resize: none;
    }

      .postHeadHeader {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            margin: 10px;
        }

       .postForm button {
        background-color: #4e6ea2;
        height: 30px;
        color: white;
        border-radius: 24px;
        font-size: 16pt;
        font-weight: bold;
        cursor: pointer;
        border: none;
        margin-bottom: 20px;
    }

    .diaryPost h2,  p {
     
        line-height: 2rem;
        width: 90vw;
        margin: 10px;
    }

     

.navstyle
{ 
    nav ul li{
    margin-left: -5px;
    margin-right: 20px;
    
}

span {
    margin-right: 15px;
}

div span {
    display: none;
}

}

.postList div {
    margin-left: 10px;
}

}



